body {
    font-size: 17px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #F6F6F6;
    font-family: Arial, serif;
}
*:focus {
    text-decoration: underline;
}
ul {
    list-style: inside;
}
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }
h1, h2, h3, h4, h5, h6 {
    color: #076633;
}
a {
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}
img:focus {
    outline: 1px solid #747474;
}
p, li, ol {
    text-align: justify;
    line-height: 150%;
}

#ova-container {
    margin: 2em auto;
    width: 80vw;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 10px #747474;
}
#principios_resumen {
    height: 100%;
}
.left-side {
    width: 20%;
    border-right: 1px solid #747474;
    background-color: #ffffff;
    text-decoration: none;
    position: relative;
}
.logo  {
    width: 100%;
    text-align: center;
    padding: .5rem;
    border-bottom: 1px solid #747474;
    box-sizing: border-box;
}
.logo img  {
    width: 120px;
}
.main-menu li {
    border-bottom: 1px solid #747474;
}
.main-menu a {
    display: block;
    text-align: left;
    color: #076633;
    padding: 1rem .5rem;
}
.main-menu a:hover, .main-menu a:focus {
    background-color: #eeeeee;
}

.main-menu a:last-child {
    border-bottom: 0;
}

.right-side {
    width: 80%;
    padding: 1rem;
    background-color: #ffffff;
    border-bottom: 65px solid #076633;
}

.right-side>div {
    display: none;
}

.right-side>div.show {
    display: block;
}

.main-menu {
    list-style: none;
}

.acess-container {
    position: absolute;
    width: 100%;
    border-top: 1px solid #747474;
    height: fit-content;
    left: 0;
    bottom: 0;
    padding: .5rem 0;
}

.acess-controls {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    float: none !important;
}
 .acess-controls img {
     filter: grayscale(1);
 }

/*Indice*/

.indice {
    display: flex;
    justify-content: space-around;
}

.indice.hidde {
    display: none;
}

.item-indice {
    height: 200px;
    border: 2px solid;
    border-radius: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content>div {
    display: none;
}

.content>div.show {
    display: block;
}


/*Buttons*/

.back-btn {}

/* Helpers */
.content-cerebros-redes {
    justify-content: center;
}
.content-cerebros-redes > div.content-cerebro-red  {
    flex: auto;
    width: 33.99999%;;
}
.content-video iframe {
    margin: 1rem auto;
    display: block;
}
.cerebro-descripcion {
    width: 300px;
    cursor: pointer;
    margin: 2rem 0;
}
.cerebro-redes {
    width: 250px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.contenedor-principios {
    height: 80%;
    align-items: center;
}
.content-arrow-link {
    display: inline-block;
    width: fit-content;
    background-color: #076633;
    color: white;
    padding: .5rem 1rem;
    position: relative;
}
.content-arrow-link:after {
    content: "";
    position: absolute;
    top: 0;
    right: -32px;
    width: 0;
    height: 0;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent transparent #076633;
}
.center {
    margin: auto;
}
.t-center {
    text-align: center;
}
.flex{
    display: flex;
}
.j-center {
    justify-content: center;
}
.d-col {
    flex-direction: column;
}
.a-i-center{
    align-items: center;
}