body {
    font-size: 17px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #F6F6F6;
    font-family: Arial, serif;
}

*:focus {
    text-decoration: underline;
}

ul {
    list-style: inside;
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

h2 {
    font-size: 1.5em;
    margin: .75em 0
}

h3 {
    font-size: 1.17em;
    margin: .83em 0
}

h5 {
    font-size: .83em;
    margin: 1.5em 0
}

h6 {
    font-size: .75em;
    margin: 1.67em 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #076633;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

img:focus {
    outline: 1px solid #747474;
}

p,
li,
ol {
    text-align: justify;
    line-height: 150%;
}

b {
    font-weight: bold;
}

table {
    width: 100%;
}

#ova-container {
    margin: 2em auto;
    width: 80vw;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 10px #cccccc;
    border-radius: 5px;
    overflow: hidden;
}

#principios_resumen {
    height: 100%;
}

#pautas {
    width: 100%;
    height: 100%;
}

.left-side {
    width: 20%;
    border-right: 1px solid #747474;
    background-color: #ffffff;
    text-decoration: none;
    position: relative;
}

.logo {
    width: 100%;
    text-align: center;
    padding: .5rem;
    border-bottom: 1px solid #747474;
    box-sizing: border-box;
}

.logo img {
    width: 120px;
}

.height-auto {
    height: auto !important;
}

.main-menu li {
    border-bottom: 1px solid #747474;
}

.main-menu a {
    display: block;
    text-align: left;
    color: #076633;
    padding: 1rem .5rem;
}

.main-menu a:hover,
.main-menu a:focus {
    background-color: #eeeeee;
}

.main-menu a:last-child {
    border-bottom: 0;
}

.submenu {
    list-style: none;
}

.submenu li {
    padding-left: 1.5em;
    border-bottom: none;
}

.right-side {
    width: 80%;
    padding: 1rem;
    background-color: #ffffff;
    border-bottom: 65px solid #076633;
}

.right-side>div {
    display: none;
}

.right-side>div.show {
    display: block;
}

.main-menu {
    list-style: none;
}

.acess-container {
    position: absolute;
    width: 100%;
    border-top: 1px solid #747474;
    height: fit-content;
    left: 0;
    bottom: 0;
    padding: .5rem 0;
}

.acess-controls {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    float: none !important;
}

.acess-controls img {
    filter: grayscale(1);
}


/*Indice*/

.indice {
    display: flex;
    justify-content: space-around;
}

.indice.hidde {
    display: none;
}

.item-indice {
    height: 200px;
    border: 2px solid;
    border-radius: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content>div {
    display: none;
}

.content>div.show {
    display: block;
}


/*Buttons*/

.back-btn {}


/* Helpers */

.content-cerebros-redes {
    justify-content: center;
    position: relative;
}

.content-cerebros-redes>div.content-cerebro-red {
    flex: auto;
    width: 33.99999%;
    ;
}

.content-video iframe {
    margin: 1rem auto;
    display: block;
}

.cerebro-descripcion {
    width: 300px;
    cursor: pointer;
    margin: 2rem 0;
}

.popover {
    box-shadow: 0 0 10px #cccccc;
    border-radius: 10px;
    background-color: #91BF29;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    color: white;
    position: absolute;
}

.popover b {
    font-weight: bold;
    color: #076633;
}

.none {
    display: none !important;
}

.popover.right {
    top: 64px;
    right: -330px;
}

.popover.top {
    top: -315px;
}

.popover.first {
    top: -200px;
}

.popover.second {
    top: -200px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.popover.third {
    top: -275px;
    right: 0;
}

.popover.right:after {
    content: "";
    position: absolute;
    top: 50px;
    left: -30px;
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #91BF29 transparent transparent;
}

.popover.first:after {
    content: "";
    border-width: 15px 15px 0;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #91BF29 transparent transparent;
    position: absolute;
    left: 140px;
    bottom: -15px;
}

.popover.second:after {
    content: "";
    border-width: 15px 15px 0;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #91BF29 transparent transparent;
    position: absolute;
    left: 50%;
    bottom: -15px;
}

.popover.third:after {
    content: "";
    border-width: 15px 15px 0;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #91BF29 transparent transparent;
    position: absolute;
    right: 140px;
    bottom: -15px;
}

.cerebro-redes {
    width: 250px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.contenedor-principios {
    height: 80%;
    align-items: center;
}

.contenedor-principios>div {
    flex: auto;
    width: 33%;
    box-shadow: 0px 0px 10px #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 2%;
    max-height: 200px;
    padding: .5rem;
    height: fit-content;
    border-bottom: 10px solid #076633;
}

.contenedor-principios table td {
    vertical-align: middle;
}

.contenedor-principios table td:last-child {
    text-align: right;
}

#pautas>div {
    width: 100%;
    height: 28%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}

.nav-pauta {
    display: block;
    padding: 3rem;
    border-radius: 10px;
    color: #076633;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    width: fit-content;
    box-shadow: 0 0 10px #cccccc;
}

.nav-pauta:hover,
.nav-pauta:focus {
    background-color: #076633;
    color: white;
}

.content-pauta {
    display: block;
    width: 70%;
}

.title-pauta {
    background-color: #076633;
    color: white;
    padding: 1rem 10px;
}

.content-arrow {
    width: 100%;
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.content-arrow:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 100%;
    background-color: #076633;
    left: 0;
    top: 0;
}

.content-arrow:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: -7px;
    width: 0;
    height: 0;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #076633 transparent transparent;
}

.content-bottom-pauta {
    background-color: #91BF29;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 1.5rem;
}

.content-arrow a {
    display: block;
    background-color: #076633;
    color: white;
    padding: 10px;
}

.content-arrow-link,
.content-arrow-link-back {
    display: inline-block;
    width: fit-content;
    background-color: #076633;
    color: white;
    padding: .5rem 1rem;
    position: relative;
}

.content-arrow-link:after {
    content: "";
    position: absolute;
    top: 0;
    right: -32px;
    width: 0;
    height: 0;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent transparent #076633;
}

.content-arrow-link-back:before {
    content: "";
    position: absolute;
    top: 0;
    left: -32px;
    width: 0;
    height: 0;
    border-width: 16px;
    border-style: solid;
    border-color: transparent #076633 transparent transparent;
}

.center {
    margin: auto;
}

.t-center {
    text-align: center;
}

.flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.d-col {
    flex-direction: column;
}

.a-i-center {
    align-items: center;
}

.big-font {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    color: #076633;
}

.relative {
    position: relative;
}

.mt-2em {
    margin-top: 2em;
}

.text-center {
    text-align: center;
}